<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/"><%= t('home') %></a></li>
    <li class="breadcrumb-item"><a href="/users"><%= t('authors') %></a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @user.username %></li>
  </ol>
</nav>
<div class="container single-user">
<h1 class="text-center mt-4 mb-4"><%= t('the_blog') %> <i><%= @user.username %></i></h1>
<% @posts.each do |post| %>
  <div  class="jumbotron p-3 text-white rounded posts__big row">
    <div class="col-md-6 px-0 posts__big-text">
      <h1 class="display-4 font-italic posts__big-title"><%= post.title %></h1>
      <p class="my-3"><% text = strip_tags(post.text) %><%= excerpt(text, 'is', radius: 20) %></p>
      <p class="mb-0"><a href="/posts/<%= post.id %>" class="text-white font-weight-bold"><%= t('read_more') %></a></p>
    </div>
    <% if current_user == post.user %>
      <div class="col-md-6 px-0 buttons">
        <a href="/posts/<%= post.id %>/edit" class="mr-3"><button type="button" class="btn btn-outline-warning"><%= t('edit') %></button></a>
        <%= link_to 'Supprimer', post,  method: :delete, data: { confirm: 'Êtes-vous sur ?' }, class: 'btn btn-outline-danger' %>
      </div>
      <% end %>
    <% if post.image? %>
      <%= image_tag post.image_url(:large), class: 'posts__big-image' %>
    <% else %>
      <img src="<%= image_path('missing-large.jpg') %>" alt="">
    <% end %>
  </div>
<% end %>
<% if @posts.blank? %>
  <div class="text-center">
    <h6><%= t('empty-author') %></h6>
  </div>
<% end %>
</div>