<h1 class="text-center mt-4 mb-4">Le blog de <i><%= @user.username %></i></h1>
<% @posts.each do |post| %>
  <div  class="jumbotron p-3 p-md-5 text-white rounded posts__big">
    <div class="col-md-6 px-0 posts__big-text">
      <h1 class="display-4 font-italic"><%= post.title %></h1>
      <p class="lead my-3"><%= excerpt(post.text, 'is', radius: 20) %></p>
      <p class="lead mb-0"><a href="/posts/<%= post.id %>" class="text-white font-weight-bold">Continue reading...</a></p>
    </div>
    <% if post.image_file_name.nil? == false %>
      <%= image_tag post.image.url(:large), class: 'posts__big-image' %>
    <% end %>
  </div>
<% end %>
<% if @posts.blank? %>
  <div class="text-center">
    <h6>Cet auteur n'a rien publié pour le moment...</h6>
  </div>
<% end %>