
<div class="text-center signin forgot-password">

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), :html => {:class => 'form-signin', method: :post }) do |f| %>
  <% if notice.nil? == false %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= notice %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>

  <% if alert.nil? == false%>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <%= alert %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
    <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal"><%= t('forgot-password') %></h1>
  <%= f.input :email, required: true, autofocus: true, input_html: { class: 'form-control', id: 'inputEmail' }, label: false, placeholder: 'Email' %>
    <%= f.submit "Send me reset password instructions", class: 'btn btn-lg btn-primary btn-block' %>
    <%= render "devise/shared/links" %>
<% end %>
</div>