<%= simple_form_for @post , html: { multipart: true } do |f| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title, label: t('title') %>
  <%= f.trix_editor :text, label: t('content') %>
  <%= f.file_field :image, label: t('image') %>
  <p class="text-center"><%= f.button :submit, t('validate'), class: 'btn btn-primary btn-lg submit-button mt-4' %></p>
<% end %>