<%= simple_form_for @post , html: { multipart: true } do |f| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title, label: "Titre" %>
  <%= f.trix_editor :text, label: "Contenu" %>
  <%= f.file_field :image, label: "Image" %>
  <%= f.button :submit, "Valider", class: 'btn btn-primary btn-lg submit-button mt-4' %>
<% end %>